<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hgil.siconprocess_view">

    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--    <uses-permission android:name="android.permission.SEND_SMS" />-->

    <!--android:name="com.hgil.siconprocess_view.base.SiconApp"-->
    <application
        android:name=".base.SiconApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hgil.siconprocess_view.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            <activity
            android:name=".activity.Route_Base_Activity"
            android:theme="@style/AppTheme" />
        -->

        <activity
            android:name="com.hgil.siconprocess_view.activity.fragments.routeLevel.NavRouteBaseActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.hgil.siconprocess_view.activity.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.hgil.siconprocess_view.activity.fragments.outletLevel.OutletHomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.hgil.siconprocess_view.activity.fragments.baseLevel.RouteListActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>