<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hgil.siconprocess">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".base.SiconApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            <activity
            android:name=".activity.BaseActivity"
            android:theme="@style/AppTheme" />
        -->

        <activity
            android:name=".activity.NavBaseActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.unused.HomeActivity" />
        <activity android:name=".activity.fragments.invoice.rejActivities.ProductListSelectActivity" />
        <activity android:name=".activity.fragments.invoice.rejActivities.FreshRejectionActivity" />
        <activity android:name=".activity.fragments.invoice.rejActivities.MarketRejectionActivity" />
        <activity android:name=".activity.fragments.invoice.ChequeDetailsActivity" />
        <activity android:name=".activity.ViewVanStockActivity" />
        <activity android:name=".activity.fragments.invoice.makeOrderInvoice.TomorrowOrderProductListActivity" />
        <activity android:name=".activity.SelectedOutletInfoActivity" />
        <activity
            android:name=".activity.HomeInvoiceActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>